html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
}

*:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
}

ul,
ol,
li {
    padding: 0;
    color: inherit;
    list-style: none;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

button,
fieldset {
    padding: 0;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

body {
    height: 100%;
    font-family: $main-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 132.4%;
    color: $main-color;

    @media (min-width: 768px) {
        font-size: 13px;
    }

    @media (min-width: 1920px) {
        font-size: 14px;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page {
    overflow: hidden;
    flex: 1 0 auto;
    position: relative;
}

header,
footer {
    flex: 0 0 auto;
}

.container {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 1200px) {
        max-width: 1200px;
    }

    @media (min-width: 1440px) {
        max-width: 1440px;
    }
}

.title {
    font-family: "CeraPRO-Bold", sans-serif;
    font-weight: 700;
    font-size: calc(42px + (72 - 42) * ((100vw - 320px) / (1440 - 320)));
    letter-spacing: 0.02em;

    @media (min-width: 1440px) {
        font-size: 72px;
    }
}